@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --fontFamily: "Overpass", sans-serif;
  --fontSizeParagraph: 0.9375rem;
  --primaryOrange: hsl(25, 97%, 53%);
  --neutralWhite: hsl(0, 0%, 100%);
  --neutralLightGray: hsl(217, 12%, 63%, 0.1);
  --neutralMediumGray: hsl(216, 12%, 54%);
  --neutralDarkBlue: hsl(213, 19%, 18%);
  --neutralVeryDarkBlue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--neutralVeryDarkBlue);
}

.attribution {
  padding: 0.625rem;
  margin-top: 3.125rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--neutralWhite);
}

.attribution a {
  color: hsl(229, 27%, 74%);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25.5rem;
  height: 26.25rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  background-color: var(--neutralDarkBlue);
}

.circle-star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: var(--neutralLightGray);
  border-radius: 50%;
}

.circle-star img {
  width: 0.9375rem;
  height: 0.9375rem;
}

.title {
  color: var(--neutralWhite);
  margin-top: 1.25rem;
}

.text {
  font-size: var(--fontSizeParagraph);
  color: var(--neutralMediumGray);
  line-height: 1.5;
  margin-bottom: 0.625rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1.25rem;
}

.ratingBtn {
  width: 3.125rem;
  height: 3.125rem;
  font-size: var(--fontSizeParagraph);
  font-weight: 700;
  border: none;
  border-radius: 50%;
  background-color: var(--neutralLightGray);
  color: var(--neutralMediumGray);
  cursor: pointer;
}

.ratingBtn:hover {
  background-color: var(--primaryOrange);
  color: var(--neutralWhite);
}

.ratingBtn:active {
  background-color: var(--neutralMediumGray);
  color: var(--neutralWhite);
}

.sr-only {
  display: none;
}

.submit {
  background-color: var(--primaryOrange);
  color: var(--neutralWhite);
  padding: 0.8125rem;
  border: none;
  border-radius: 3.125rem;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.submit:active {
  background-color: var(--neutralWhite);
  color: var(--primaryOrange);
}

.btn-active {
  background-color: var(--neutralMediumGray);
  color: var(--neutralWhite);
}

#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25.5rem;
  height: 26.25rem;
  padding: 1.875rem;
  border-radius: 1.25rem;
  background-color: var(--neutralDarkBlue);
}

#modal img {
  width: 10.3125rem;
  height: 6.875rem;
}

.modal-title {
  color: var(--neutralWhite);
}

.modal-text {
  text-align: center;
  color: var(--neutralMediumGray);
}

.modal-selected {
  font-size: 1rem;
  color: var(--primaryOrange);
  padding: 0.4375rem 0.9375rem 0.4375rem 0.9375rem;
  background-color: var(--neutralLightGray);
  border: none;
  border-radius: 1.25rem;
}
